<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-col lg="7" md="9" xl="6">
        <c-card class="mx-4">
          <c-card-body class="p-4">
            <form cForm (ngSubmit)="onSubmit()">
              <h1>Register</h1>
              <c-input-group class="mb-3">
                <span cInputGroupText>
                  <svg cIcon name="cilUser"></svg>
                </span>
                <input 
                  autoComplete="username" 
                  cFormControl 
                  placeholder="Username" 
                  [(ngModel)]="registerData.username" 
                  name="username"
                  required 
                />
              </c-input-group>
              <c-input-group class="mb-3">
                <span cInputGroupText>
                </span>
                <select 
                  [(ngModel)]="registerData.cabang" 
                  name="cabang"
                  aria-label="Cabang"
                  cSelect
                  cFormControl
                  required
                >
                  <option value="" disabled selected>Pilih Cabang</option>
                  <option 
                    *ngFor="let cabang of cabangList" 
                    [ngValue]="cabang">{{cabang}}
                  </option>
                </select>
              </c-input-group>
              <div class="d-grid">
                <button cButton color="success" type="submit" [disabled]="!registerData.username || !registerData.cabang">
                  Create Account
                </button>
              </div>
            </form>
          </c-card-body>
        </c-card>
      </c-col>
    </c-row>
  </c-container>
</div>